* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body{
  color: rgb(203, 218, 218);    background-color: rgb(123, 133, 96) ;
    font-family: monospace;
    font-size: large;
    margin: 25px;
    
}

main{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.grupoComandos{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cartaoComando{
    border: 2px solid rgb(123, 176, 181);
    border-radius: 10px;
    width: 85vw;
    height: 20vh;
    background-color: rgb(30, 42, 48);
    color: rgb(107, 176, 153);
    padding: 5px;
    letter-spacing: 2px;
   
  

}

@media screen and (min-width: 768px) {
    .grupoComandos{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .cartaoComando{
    border: 2px solid rgb(123, 176, 181);
    border-radius: 20px;
    width: calc(25% - 15px);
    min-height: fit-content; 
}
}

footer{
   text-align: center;
   color: rgb(203, 218, 218);
   font-size: x-large;
   font-style: italic;

}
h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
    text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

