* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body{
  color: rgb(194, 209, 209);    background-color: rgb(104, 124, 126) ;
    font-family: monospace;
    font-size: large;
    
    
}

header{
    background-color: rgb(53, 87, 77);
}

main{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.grupoComandos{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 25px;
}

.cartaoComando{
    border: 2px solid rgb(123, 176, 181);
    border-radius: 10px;
    width: 85vw;
    height: 20vh;
    background-color: rgb(30, 42, 48);
    color: rgb(107, 176, 153);
    padding: 10px;
    letter-spacing: 2px;
    
    
    
    
    
   
  

}

@media screen and (min-width: 992px) {
    .grupoComandos{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .cartaoComando{
    border: 2px solid rgb(123, 176, 181);
    border-radius: 20px;
    width: calc(25% - 15px);
    min-height: fit-content; 

}

.cartaoComando:hover{
    scale: 101.5%;
    background-color: rgb(45, 93, 116);    transform: translateY(-5%);
    color:white;   
    border: 3px solid rgb(1, 227, 248);
    box-shadow: 3px 3px 10px rgb(143, 224, 238);
    text-shadow: 3px 3px rgb(63, 62, 62);

}
}

footer{
   text-align: center;
   color: rgb(194, 209, 209);     font-size: x-large;
   font-style: italic;
   padding-bottom: 20px;
   
}
h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(126, 162, 154);
    text-shadow: 3px 4px rgb(49, 62, 59);    
    
  
    
}

h2{
    text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-decoration: overline;
        color: rgb(121, 154, 150);
         text-shadow: 3px 4px rgb(49, 62, 59);

}

@media only screen and (max-width: 600px) {
  body{
    font-size: x-large;
  }
 
  
}

@media only screen and (min-width: 768px) {
   .grupoComandos{
    flex-direction: row;
    flex-wrap: wrap;

}

   .cartaoComando{
    width: calc(100vw - 30px);
   }

}

@media only screen and (min-width: 992px){
   body{
    font-size: x-large;
  
   }
}

@media only screen and (min-width: 1200px){
   .cartaoComando{
    width: calc(25% - 15px);
    min-height: fit-content; 
    font-size: large;
   }
  
}

.icone{
    fill: rgb(193, 159, 6);
    stroke: rgb(183, 179, 179);
    stroke-width: 10px;
    width: 50px;
    height: 40px;
   
}

div{
    border: 2px solid;
}